{% extends "hal_status/layout/base.html" %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
  
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<style type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
.font1{
    font-family: 'Spectral SC', serif;
}
.part2-info_user .glyphicon-user{
  font-size: 150px;
    color: red
}
.buttonPertama{
  margin-bottom: 20px;
}
.myData{
  
  padding: 10px;
}
.part2 a{
  margin-bottom: 30px;
  margin-left: 30px;
}
.part2_info_user{
  background-color: #C8D8DE;
  padding: 10px;
  border-radius: 10px;
}
.media-left .glyphicon-user{
font-size: 50px;
margin-right: 30px;
}
.kotak{
background-color: #e6e6e6;
border-radius: 10px;
margin-bottom: 20px;
}
.page1{
    top: -120px;
}
.row .btn-danger{
    margin-top: 40px;
}
#menu3{
  position: relative;
  margin-top: -400px;
}

#menu2{
  position: relative;
  margin-top: -300px;
}
</style>
<div class="container page1">
  <div class="col-md-8 font1"><h1>Selamat datang {{ author }}</h1></div>
  
  <div class="col-md-4">
    <a href="{% url 'hal-status:auth_logout' %}" class="btn btn-danger btn-lg" onclick="return confirm('Keluar?')">Logout </a>
  </div>
</div>
<div class="container part2">
  <div class="col-md-4 part2_info_user">
    <span class="glyphicon glyphicon-user pull-left" style="font-size:150px;"></span>
    <a href="#" class="btn btn-lg btn-info ">Lihat Forum</a>
    <a href="#" class="btn btn-lg btn-default">Update Status</a>
    <a href="edit_profile.html" class="btn btn-lg btn-default">Edit Profil</a>
  </div>
  <div class="col-md-4">
    <h2 class="font1">Jumlah Status : {{jumlah_status}}</h2>
    <h2 class="font1">Last Comment : {{ latestMessage }}</h2>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="container part3">
<form id="form" method="POST" action="{% url 'hal-status:add_status' %}">
                    <h2><strong>Input Status..</strong></h2>
                    {% csrf_token %}
                    {{ Status_form }}
                    <br><input id="submit" type="submit" class="btn btn-md btn-info" value="Submit">
                    <br><br>
                </form>
</div>

<div class="container">
  <h2 class="font1">Let's see what you've got!</h2>
  <p>Click tab below.</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home" onclick="myFunction_reload()">Status</a></li>
    <li><a data-toggle="tab" href="#menu1" onclick="my_function()">Profile</a></li>
    <li><a data-toggle="tab" href="#menu2" onclick="my_function()">Riwayat</a></li>
    <li><a data-toggle="tab" href="#menu3" onclick="my_function()">Teman</a></li>
    
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div id="hide_this">
      <h3>Status</h3>
      {% include 'hal_status/tables/status.html' %}  
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Your Profile</h3>
      {% include 'page_profile/page_profile.html' %}
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Riwayat </h3>
      <br>
      {% include 'hal_status/tables/riwayat.html' %}
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">

  function my_function(){
    console.log('my_function')
      $("#hide_this").hide();
        $("#menu1").show();
      $("#menu2").show();
      $("#menu3").show();
  }

  function myFunction_reload() {
    $("#hide_this").show();
      $("#menu1").hide();
      $("#menu2").hide();
      $("#menu3").hide();
}

  $(document).ready(function(){
    console.log("JQuery nyala")
    function hide_this(){
      console("masuk hide_this()")
      $("hide_this").html("");
    }
  });
</script>    
{% endblock %}
