.font1{
    font-family: 'Spectral SC', serif;
}
.part2-info_user .glyphicon-user{
	font-size: 150px;
    color: red
}
.buttonPertama{
	margin-bottom: 20px;
}
.myData{
	
	padding: 10px;
}
.part2 a{
	margin-bottom: 30px;
	margin-left: 30px;
}
.part2_info_user{
	background-color: #C8D8DE;
	padding: 10px;
	border-radius: 10px;
}
.media-left .glyphicon-user{
font-size: 50px;
margin-right: 30px;
}
.kotak{
background-color: #e6e6e6;
border-radius: 10px;
margin-bottom: 20px;
}
.page1{
    top: -120px;
}
.row .btn-danger{
    margin-top: 40px;
}
#menu3{
  position: absolute;
  margin-top: -400px;
}