<nav>
  <div class="container">
    <div class="navbar-header navbar navbar-default">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-static-top" href="{% url 'hal-status:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-static-top">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>